{% extends "producto/base.html" %}

{% block titulo %}
    Categorías
{% endblock titulo %}

{% block contenido %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8 mt-5 text-center">
        <h1 style="margin-top: 1%; color: #570116; font-weight: bold;">Subcategorías de productos</h1>
        <h5 style="margin-top: 1%; text-align: justify; color: #570116;">
            Ofrecemos los mejores productos para una vida afectiva y sexual plena.
        </h5>
        </div>
    </div>
    <div class="row justify-content-center">
        {% for s in subcategorias %}
        <div class="col-2 mt-5 text-center">
            <a href="{% url 'productos' id_categoria categoria s.id s.nombre %}" style="text-decoration: none;">
                <div class="card">
                    <div class="card-header">{{ s.nombre }}</div>
                    <!--
                    <div class="card-body">
                        <img
                            src=""
                            alt="Foto de {{ c.nombre }}"
                            width="150"
                            height="100"
                        />
                        <hr />
                        <span> {{ c.descripcion }} </span>
                    </div>
                    -->
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

{% endblock contenido %}