{% extends "Trabajadores/base.html" %}
{% load static %}

{% block title %}
    Editor productos
{% endblock title %}

{% block content %}

<div class="container" style="width: 1100px;">
    <div class="card mt-4">
        <div class="card-header  text-white" style="font-size: large; background-color:rgb(20, 20, 118);">
            <h2 style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Editor de producto</h2>
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    {{ form.non_field_errors }}
                    <div class="col-9">
                        <div class="row">
                            <div class="col-4 mb-3">
                                <label for="id_nombre">Nombre:</label>
                                {{ form.nombre }}
                                {{ form.nombre.errors }}
                            </div>
                            <div class="col-4 mb-3">
                                <label for="id_marca">Marca:</label>
                                {{ form.marca }}
                                {{ form.marca.errors }}
                            </div>
                            <div class="col-4 mb-3">
                                <label for="id_precio">Precio:</label>
                                {{ form.precio }}
                                {{ form.precio.errors }}
                            </div>
                            <div class="col-4 mb-3">
                                <label for="id_cantidad">Cantidad:</label>
                                {{ form.cantidad }}
                                {{ form.cantidad.errors }}
                            </div>
                            <div class="col-4 mb-3">
                                <label for="id_categoria">Categoría:</label>
                                {{ form.categoria }}
                                {{ form.categoria.errors }}
                            </div>
                            <div class="col-4 mb-3">
                                <label for="id_subcategoria">Subcategoría:</label>
                                {{ form.subcategoria }}
                                {{ form.subcategoria.errors }}
                            </div>
                            <div class="col-4 mb-3">
                                <label for="id_primerJuguete">Primer juguete:</label>
                                {{ form.primerJuguete }}
                                {{ form.primerJuguete.errors }}
                            </div>
                            <div class="col-8 mb-3">
                                <label for="id_descripcion">Descripción:</label>
                                {{ form.descripcion }}
                                {{ form.descripcion.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col">
                                {% if form.foto %}
                                    <img src="{{ foto.url }}" alt="Fotografía del producto" width="200" height="auto" class="mx-auto my-auto d-block">
                                {% else %}
                                    <img src="{% static 'images/productos/producto.png' %}" alt="Imagen de un producto"
                                        width="200" height="auto" class="mx-auto my-auto d-block">
                                {% endif %}
                                <label for="id_foto">Fotografía del producto:</label>
                                <input type="file" name="foto" id="id_foto" class="form-control form-control-sm mt-3">
                            </div>
                        </div>
                    </div>
                </div>
                
                <button type="submit" name="guardar" class="btn btn-info mt-3 col-md-2 offset-md-5">Guardar</button>

            </form>
        </div>
    </div>
</div>

{% endblock content %}
