{% extends "frontEnd/base.html" %}
{% block title %}Administrador{% endblock %}

{% load static %}

{% block contenido %}

<div class="container mt-5 mb-5" style="background-color:azure">

    <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        Administración</h2>


    <div class="card" style="background-color:azure">
        <div class="row">
            <div class="col-md-4 mt-4 ">
                <div class="card border-3 shadow mx-auto " style="width: 300px; height: 160px;">
                    <div class="card-header text-white" style="font-size: large; background-color:rgb(20, 20, 118);">
                        Empleados </div>
                    <div class="card-body ">
                        <li>
                            <a href="{% url 'mostrar_perfiles' %}" style="color: black;" >Ver lista de empleados</a>

                        </li>
                        <li>
                            <a href="{% url 'agregar_trabajador' %}" style="color: black;">Registrar empleado</a>
                        </li>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4 ">
                <div class="card border-3 shadow mx-auto " style="width: 300px; height: 160px;">
                    <div class="card-header text-white " style="font-size: large; background-color:rgb(20, 20, 118);">
                        Productos </div>
                    <div class="card-body ">
                        <li>
                            <a href="{% url 'categorias_productos' %}"style="color: black;">Ver bodega</a>

                        </li>
                        <li>
                            <a href="{% url 'compra_proveedor' %}"style="color: black;">Ingresar factura proveedor</a>
                        </li>
                        <li>
                            <a href="{% url 'lista_facturas' %}"style="color: black;">Ver lista de facturas</a>
                        </li> 
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4 ">
                <div class="card border-3 shadow mx-auto " style="width: 300px; height: 160px;">
                    <div class="card-header text-white " style="font-size: large; background-color:rgb(20, 20, 118);">
                        Ventas </div>
                    <div class="card-body ">
                        <li>
                            <a href="{% url 'mostrar_perfiles' %}"style="color: black;">Ver Resumen de ventas</a>

                        </li>


                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4 mt-4 ">
                    <div class="card border-3 shadow mx-auto " style="width: 300px; height: 160px;">
                        <div class="card-header text-white "
                            style="font-size: large; background-color:rgb(20, 20, 118);"> Clientes </div>
                        <div class="card-body ">
                            <li>
                                <a href="{% url 'lista_clientes' %}" style="color: black;">Ver lista de clientes</a>

                            </li>


                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4 mb-4 ">
                    <div class="card border-3 shadow mx-auto " style="width: 300px; height: 160px;">
                        <div class="card-header text-white "
                            style="font-size: large; background-color:rgb(20, 20, 118);"style="color: black;"> Soporte al cliente </div>
                        <div class="card-body ">
                            <li>
                                <a href="{% url 'lista_correos' %}" style="color: black;">Ver lista de mensajes, reclamos y sugerencias</a>

                            </li>


                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>







{% endblock %}