{% extends "Trabajadores/base.html" %}
{% block title %}Detalles Trabajador{% endblock %}

{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-dark text-white">
            <h2 style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Detalles del Trabajador</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row mb-3">
                    <div class="col-md-4">
                        <label class="col-form-label">Perfil:</label><br>
                        {{ form_edicion.perfil }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <label class="col-form-label">Nombre:</label><br>
                        {{ form_edicion.nombre }}
                       
                    </div>

                    <div class="col-md-4">
                        <label class="col-form-label">Apellido Paterno:</label><br>
                        {{ form_edicion.paterno }}
                        
                    </div>

                    <div class="col-md-4">
                        <label class="col-form-label">Apellido Materno:</label><br>
                        {{ form_edicion.materno }}
                        
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <label class="col-form-label">Sexo:</label><br>
                        {{ form_edicion.sexo }}
                        
                    </div>

                    <div class="col-md-4">
                        <label class="col-form-label">RUT:</label><br>
                        {{ form_edicion.rut }}
                        {% if form_edicion.errors.rut %}
                            <p class="text-danger">{{ form_edicion.errors.rut }}</p>
                        {% endif %}
                    </div>

                    <div class="col-md-4">
                        <label class="col-form-label">Fecha de Nacimiento:</label><br>
                        {{ form_edicion.fecha_nacimiento }}
                        {% if form_edicion.errors.fecha_nacimiento %}
                            <p class="text-danger">{{ form_edicion.errors.fecha_nacimiento }}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <label class="col-form-label">Teléfono:</label><br>
                        {{ form_edicion.telefono }}
                        
                    </div>

                    <div class="col-md-4">
                        <label class="col-form-label">Correo:</label><br>
                        {{ form_edicion.correo }}
                        {% if form_edicion.errors.correo %}
                            <p class="text-danger">{{ form_edicion.errors.correo }}</p>
                        {% endif %}
                    </div>

                    <div class="col-md-4">
                        <label class="col-form-label">Contraseña:</label><br>
                        {{ form_edicion.contraseña }}
                        {% if form_edicion.errors.contraseña %}
                            <p class="text-danger">{{ form_edicion.errors.contraseña }}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-8">
                        <label class="col-form-label">Nueva Foto:</label>
                        <input type="file" name="foto" accept="image/*">
                        {% if trabajador.foto %}
                            <img style="margin-left: 60px;" src="{{ trabajador.foto.url }}" width="350px" alt="{{ trabajador.nombre }}">
                        {% endif %}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-info">Guardar Cambios</button>
                        <a href="{% url 'elim_trabajador' trabajador_id=trabajador.id %}" class="btn btn-info">Eliminar Trabajador</a>
                        <a href="{% url 'mostrar_trabajadores' perfil_id=trabajador.perfil_id %}" class="btn btn-info">Pagina anterior</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
