{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <div class="card">
      <div class="card-header bg-danger text-white">
        <h2 style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Confirmar Eliminación</h2>
      </div>
      <div class="card-body">
        <p>¿Estás seguro de que deseas eliminar al trabajador {{ trabajador.nombre }} {{ trabajador.apellido }}?</p>
        <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Eliminar</button>
          <a href="{% url 'mostrar_trabajadores' perfil_id=trabajador.perfil_id %}" class="btn btn-secondary">Cancelar</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
