{% extends "Trabajadores/base.html" %}
{% block title %}Lista Trabajadores{% endblock %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="card mt-4">
            <div class="card-header bg-dark text-white">
                <h2 style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Lista de Trabajadores</h2>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>{{ perfil.cargo }}</h2>
            
                    <form id="searchForm" method="GET" action="{% url 'mostrar_trabajadores' perfil.id %}" class="d-flex">
                        <input class="form-control" type="search" name="q" placeholder="Ingrese el nombre del trabajador" aria-label="Search" style="width: 400px;" id="searchInput">
                        <button type="submit" class="btn btn-primary ms-2">Buscar</button>
                    </form>
                    
                    <a href="{% url 'agregar_trabajador' perfil.id %}" class="btn btn-primary mr-3">Agregar Trabajador</a>
                </div>
                
                <div id="searchResults" style="display: none;"></div>
                
                <table class="table table-striped mt-3">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Sexo</th>
                            <th>RUT</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Teléfono</th>
                            <th>Correo</th>
                            <th>Foto</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trabajador in trabajadores %}
                            <tr>
                                <td>{{ trabajador.nombre  }}</td>
                                <td>{{ trabajador.paterno }}</td>
                                <td>{{ trabajador.materno }}</td>
                                <td>{{ trabajador.sexo }}</td>
                                <td>{{ trabajador.rut }}</td>
                                <td>{{ trabajador.fecha_nacimiento }}</td>
                                <td>{{ trabajador.telefono }}</td>
                                <td>{{ trabajador.correo }}</td>
                                <td><img src="{{ trabajador.foto.url }}" alt="{{ trabajador.nombre }}" width="70" height="50"></td>

                                <td>
                                    <a href="{% url 'editar_trabajador' trabajador.id perfil.id %}" class="btn btn-info btn-sm">Modificar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var lastSearchValue = '';

            $('#searchForm').on('submit', function (e) {
                e.preventDefault();
                search();
            });

            $('#searchInput').on('input', function () {
                search();
            });

            function search() {
                var query = $('#searchInput').val().trim();

                if (query !== lastSearchValue) {
                    lastSearchValue = query;

                    $.ajax({
                        url: '{% url "buscar_trabajadores" %}',
                        method: 'GET',
                        data: { q: query },
                        success: function (data) {
                            $('#searchResults').html('');
                            if (data.trabajadores.length > 0) {
                                $('#searchResults').show();
                                for (var i = 0; i < data.trabajadores.length; i++) {
                                    var worker = data.trabajadores[i];
                                    $('#searchResults').append('<a href="{% if trabajador.id and perfil.id %}{% url "editar_trabajador" trabajador.id perfil.id %}{% endif %}">' + worker.nombre +  '</a><br>');
                                }
                            } else {
                                $('#searchResults').hide();
                            }
                        }
                    });
                }
            }
        });
    </script>
{% endblock %}
