{% extends "Trabajadores/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h2 class="text-center mt-4">PERFIL DE TRABAJADOR</h2>
        <div class="row mt-4">
            {% for perfil in perfiles %}
                <div class="col-md-6 mb-4 ">
                    <div class="card border-0 shadow mx-auto " style="width: 400px;">
                        <div class="card-header bg-dark text-white text-center" style="font-size: large;">{{ perfil.cargo }}</div>
                        <div class="card-body text-center">
                            <img src="{% static 'images/' %}{{ perfil.foto }}" alt="{{ perfil.cargo }}" class="card-img-top rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
                        </div>
                        <div class="col-12 text-center">
                            <a href="{% url 'mostrar_trabajadores' perfil.id %}" class="btn btn-primary btn-sm mb-3" style="width: 150px;">Ver Empleados</a>
                        </div>


                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
