{% extends "Trabajadores/base.html" %}
{% block title %} Eliminar usuario {% endblock %}


{% block content %}
    <div class="row">
        <div class="col-10 mt-5 offset-1">
            <h3 style="text-align: center;">Confirmar eliminacion de Usuario</h3>
            <div class="alert alert-danger-h4 text-center">Estas seguro de eliminar a Usuario {{usuario.nombre}} {{usuario.paterno}} {{usuario.materno}}</div>
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        <a class="btn btn-dark" style="text-align: center;" href="{% url 'listaUsuarios' %}">Cancelar</a>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-danger" style="text-align: center;" type="submit">Confirmar Eliminacion</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock  %}